<section class="section-about-us">
  <div class="container">
    <div class="order-flex">
      <div class="about-us">
        <h2 class="description-about-us">About Us</h2>
        <p class="watch-qualities watch-margin">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
        <p class="watch-qualities watch-margin-button">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it’s a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
        <a class="open-btn" href="catalog">View catalog</a>
      </div>
      <div>
        <picture>
          <source
            srcset="
              /img/about-us/about-desk.jpg    1x,
              /img/about-us/about-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            alt="Watch"
            width="530"
            height="532"
          />
          <source
            srcset="
              /img/about-us/about-tablet.jpg    1x,
              /img/about-us/about-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            alt="Watch"
            width="704"
            height="512"
          />
          <img
            class="watch-image"
            srcset="/img/about-us/about-mob@2x.jpg 2x"
            src="/img/about-us/about-mob.jpg"
            alt="Watch"
            width="355"
            height="446"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
