<section class="section catalog" id="catalog">
  <div class="container">
    <h2 class="title-catalog">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-elements">
        <img
          srcset="./img/catalog/watch-1.png 1x, ./img/catalog/watch-1@2x.png 2x"
          src="./img/catalog/watch-1.png"
          alt="Garmin Fenix 7X Pro Sapphire Solar"
          class="image-catalog"
        />
        <h3 class="name-catalog">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="price-catalog">€500</p>
      </li>
      <li class="catalog-list-elements">
        <img
          srcset="./img/catalog/watch-2.png 1x, ./img/catalog/watch-2@2x.png 2x"
          src="./img/catalog/watch-2.png"
          alt="Garmin Marq Athlete"
          class="image-catalog"
        />
        <h3 class="name-catalog">Garmin Marq Athlete</h3>
        <p class="price-catalog">€450</p>
      </li>
      <li class="catalog-list-elements">
        <img
          srcset="./img/catalog/watch-3.png 1x, ./img/catalog/watch-3@2x.png 2x"
          src="./img/catalog/watch-3.png"
          alt="Garmin Descent MK1"
          class="image-catalog"
        />
        <h3 class="name-catalog">Garmin Descent MK1</h3>
        <p class="price-catalog">€680</p>
      </li>
      <li class="catalog-list-elements">
        <img
          srcset="./img/catalog/watch-4.png 1x, ./img/catalog/watch-4@2x.png 2x"
          src="./img/catalog/watch-4.png"
          alt="Garmin D2 Delta PX"
          class="image-catalog"
        />
        <h3 class="name-catalog">Garmin D2 Delta PX</h3>
        <p class="price-catalog">€380</p>
      </li>
      <li class="catalog-list-elements">
        <img
          srcset="./img/catalog/watch-5.png 1x, ./img/catalog/watch-5@2x.png 2x"
          src="./img/catalog/watch-5.png"
          alt="Garmin Fenix 6 Pro Solar"
          class="image-catalog"
        />
        <h3 class="name-catalog">Garmin Fenix 6 Pro Solar</h3>
        <p class="price-catalog">€400</p>
      </li>
      <li class="catalog-list-elements">
        <img
          srcset="./img/catalog/watch-6.png 1x, ./img/catalog/watch-6@2x.png 2x"
          src="./img/catalog/watch-6.png"
          alt="Tube Watch S42 Date Steel With Black Case"
          class="image-catalog"
        />
        <h3 class="name-catalog">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="price-catalog">€395</p>
      </li>
    </ul>
    <button type="button" class="button-catalog">Show more</button>
  </div>
</section>
