<footer class="footer">
  <div class="footer-container">
    <div class="footer-first-box">
      <div class="footer-box-logo flex-item">
        <a href="./index.html" class="footer-logo">watchcharm</a>
        <ul class="footer-icon-list">
          <li class="footer-icon">
            <a href="" class="footer-linc">
              <svg width="18" height="18" class="icon">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon">
            <a href="" class="footer-linc">
              <svg width="18" height="18" class="icon">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon">
            <a href="" class="footer-linc">
              <svg class="icon" width="18" height="18">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <form class="form-tel flex-item">
        <input
          type="tel"
          name="footer-imput"
          id="footer-imput"
          class="footer-imput"
          placeholder="+380 (68) 443-94-26"
        />
        <label for="footer-imput" class="label-footer">Tel</label>
      </form>
      <h2 class="footer-title flex-item">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </h2>
    </div>
    <div class="footer-linc-box">
      <ul class="footer-list">
        <li class="footer-list-item"><a class="footer-list-linc">Home</a></li>
        <li class="footer-list-item">
          <a class="footer-list-linc">About Us</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-list-linc">Catalog</a>
        </li>
        <li class="footer-list-item"><a class="footer-list-linc">Sale</a></li>
        <li class="footer-list-item">
          <a class="footer-list-linc">Reviews</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-list-linc">Contact Us</a>
        </li>
      </ul>
      <address class="footer-addres">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </address>
    </div>
    <div class="footer-policy-box">
      <p class="footer-text">©2023 The Watch Spot. All rights reserved.</p>
      <ul class="footer-policy-list">
        <li class="footer-polisy-item">
          <a class="footer-policy-linc footer-text" href="">Terms of Service</a>
        </li>
        <li class="footer-polisy-item">
          <a class="footer-policy-linc footer-text" href="">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
