<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-first-box">
      <div class="footer-box-logo flex-item">
        <a href="./index.html" class="footer-logo">watchcharm</a>
        <ul class="footer-icon-list">
          <li class="footer-icon">
            <a href="https://www.facebook.com/goITclub/" class="footer-linc">
              <svg width="18" height="18" class="icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon">
            <a href="https://www.instagram.com/goitclub/" class="footer-linc">
              <svg width="18" height="18" class="icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-icon">
            <a href="https://www.youtube.com/c/GoIT" class="footer-linc">
              <svg class="icon" width="18" height="18">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="form-tel flex-item">
        <a href="tel:+380684439426" class="footer-imput">+380 (68) 443-94-26</a>
      </div>

      <h2 class="footer-title flex-item">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </h2>
    </div>
    <div class="footer-linc-box">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="#header" class="footer-list-linc alink">Home</a>
        </li>
        <li class="footer-list-item">
          <a href="#about-us" class="footer-list-linc alink">About Us</a>
        </li>
        <li class="footer-list-item">
          <a href="#catalog" class="footer-list-linc alink">Catalog</a>
        </li>
        <li class="footer-list-item">
          <a href="#sale" class="footer-list-linc alink">Sale</a>
        </li>
        <li class="footer-list-item">
          <a href="#reviews" class="footer-list-linc alink">Reviews</a>
        </li>
        <li class="footer-list-item">
          <a href="#contact" class="footer-list-linc alink">Contact Us</a>
        </li>
      </ul>
      <address class="footer-addres">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </address>
    </div>
    <div class="footer-policy-box">
      <p class="footer-text">©2023 The Watch Spot. All rights reserved.</p>
      <ul class="footer-policy-list">
        <li class="footer-polisy-item">
          <a class="footer-policy-linc footer-text" href="">Terms of Service</a>
        </li>
        <li class="footer-polisy-item">
          <a class="footer-policy-linc footer-text" href="">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
