<header class="header" id="header">
  <div class="container header-conteiner">
    <nav class="navigation">
      <a class="logo-web" href="./index.html">watchcharm</a>
      <ul class="link-nav">
        <li><a class="link link-studio" href="#home">Home</a></li>
        <li><a class="link alink" href="#about-us">About us</a></li>
        <li><a class="link alink" href="#catalog">Catalog</a></li>
        <li><a class="link alink" href="#sale">Sale</a></li>
        <li><a class="link alink" href="#reviews">Reviews</a></li>
        <li><a class="link alink" href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <div class="network">
      <ul class="network-list">
        <li class="network-item">
          <a href="https://www.facebook.com/goITclub/" class="network-link">
            <svg class="network-svg" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="network-item">
          <a href="https://www.instagram.com/goitclub/" class="network-link">
            <svg class="network-svg" width="20" height="20">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="network-item">
          <a href="https://www.youtube.com/c/GoIT" class="network-link">
            <svg class="network-svg" width="20" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button type="button" class="open-menu-btn">
      <svg class="open-menu-svg" width="34" height="34">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu">
    <a href="" class="close-menu-btn">
      <svg class="mob-network-close" width="17" height="17">
        <use href="./img/icons.svg#icon-close-menu"></use>
      </svg>
    </a>
    <nav>
      <ul class="mob-link-nav">
        <li>
          <a class="mob-link mob-link-studio link" href="#header">Home</a>
        </li>
        <li><a class="mob-link alink" href="#about-us">About us</a></li>
        <li><a class="mob-link alink" href="#catalog">Catalog</a></li>
        <li><a class="mob-link alink" href="#sale">Sale</a></li>
        <li><a class="mob-link alink" href="#reviews">Reviews</a></li>
        <li><a class="mob-link alink" href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <div class="mob-network">
      <ul class="mob-network-list">
        <li class="mob-network-item">
          <a href="" class="mob-network-link">
            <svg class="mob-network-svg" width="18" height="18">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mob-network-item">
          <a href="" class="mob-network-link">
            <svg class="mob-network-svg" width="18" height="18">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-network-item">
          <a href="" class="mob-network-link">
            <svg class="mob-network-svg" width="18" height="18">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
