<section class="hero-section" id="hero">
  <div class="container hero">
    <div class="hero__content">
      <div>
        <h1>Welcome to our <span>collection</span> of premium watches</h1>
        <p class="hero__description">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero__actions">
        <a href="#footer" class="hero__scroll alink">Scroll down</a>
        <div class="hero__people-images">
          <img
            src="/img/hero/girl-1.png"
            srcset="/img/hero/girl-1.png 1x, /img/hero/girl-1@2x.png 2x"
            alt="Person 1"
            class="person person1"
          />
          <img
            src="/img/hero/man.png"
            srcset="/img/hero/man.png 1x, /img/hero/man@2x.png 2x"
            alt="Person 2"
            class="person person2"
          />
          <img
            src="/img/hero/girl-2.png"
            srcset="/img/hero/girl-2.png 1x, /img/hero/girl-2@2x.png 2x"
            alt="Person 3"
            class="person person3"
          />
        </div>
      </div>
    </div>
    <div class="hero-premium">
      <picture>
        <source
          srcset="/img/hero/hero-desk.jpg 1x, /img/hero/hero-desk@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="/img/hero/hero-tablet.jpg 1x, /img/hero/hero-tablet@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <img
          src="/img/hero/hero-mob.jpg"
          srcset="/img/hero/hero-mob.jpg 1x, /img/hero/hero-mob@2x.jpg 2x"
          alt="Premium Watch"
          class="watch"
        />
      </picture>
    </div>
  </div>
</section>
