<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="img-center">
          <img
            srcset="./img/reviews/man.png 1x, ./img/reviews/man@2x.png 2x"
            src="./img/reviews/man.png"
            alt="photo"
            width="56"
            height="56"
            class="reviews-img"
          />
        </div>
        <h3 class="reviewer-name">John Wax</h3>
        <p class="reviews-paragraph">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item">
        <div class="img-center">
          <img
            srcset="./img/reviews/girl-1.png 1x, ./img/reviews/girl-1@2x.png 2x"
            src="./img/reviews/girl-1.png"
            alt="photo"
            width="56"
            height="56"
            class="reviews-img"
          />
        </div>
        <h3 class="reviewer-name">Victoria Romashenko</h3>
        <p class="reviews-paragraph">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-item">
        <div class="img-center">
          <img
            srcset="./img/reviews/girl-2.png 1x, ./img/reviews/girl-2@2x.png 2x"
            src="./img/reviews/girl-2.png"
            alt="photo"
            width="56"
            height="56"
            class="reviews-img"
          />
        </div>
        <h3 class="reviewer-name">Anastasia Trachuk</h3>
        <p class="reviews-paragraph">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like advanced chronograph
          and water resistance make it an indispensable companion in my daily
          life.
        </p>
      </li>
    </ul>
  </div>
</section>
