<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <div class="reviews-container">
        <li class="reviews-item">
          <img
            src="../img/reviews/man.png"
            alt="photo"
            width="56"
            height="56"
            class="reviews-img"
          />
          <h3 class="reviewer-name">John Wax</h3>
          <p class="reviews-paragraph">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </li>
      </div>
      <li class="reviews-item">
        <img
          src="../img/reviews/girl-1.png"
          alt="photo"
          width="56"
          height="56"
          class="reviews-img"
        />
        <h3 class="reviewer-name">Victoria Romashenko</h3>
        <p class="reviews-paragraph">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-item">
        <img
          src="../img/reviews/girl-2.png"
          alt="photo"
          width="56"
          height="56"
          class="reviews-img"
        />
        <h3 class="reviewer-name">Victoria Romashenko</h3>
        <p class="reviews-paragraph">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
