<section class="section" id="sale">
  <div class="container">
    <h2 class="title-sale">Sale</h2>
    <div class="sale-content-box">
      <div class="sale-all-wtch">
        <ul class="sale-min-wtch-list">
          <li class="sale-min-wtch-item">
            <img
              class="sale-min-wtch-img"
              srcset="
                ./img/sale/small-wtch-1.png    1x,
                ./img/sale/small-wtch-1@2x.png 2x
              "
              src="./img/sale/small-wtch-1.png"
              alt="small-wtch-1"
              onclick="showImage(this)"
            />
          </li>
          <li class="sale-min-wtch-item">
            <img
              class="sale-min-wtch-img"
              srcset="
                ./img/sale/small-wtch-2.png    1x,
                ./img/sale/small-wtch-2@2x.png 2x
              "
              src="./img/sale/small-wtch-2.png"
              alt="small-wtch-2"
              onclick="showImage(this)"
            />
          </li>
          <li class="sale-min-wtch-item">
            <img
              class="sale-min-wtch-img"
              srcset="
                ./img/sale/small-wtch-3.png    1x,
                ./img/sale/small-wtch-3@2x.png 2x
              "
              src="./img/sale/small-wtch-3.png"
              alt="small-wtch-3"
              onclick="showImage(this)"
            />
          </li>
          <li class="sale-min-wtch-item">
            <img
              class="sale-min-wtch-img"
              srcset="
                ./img/sale/small-wtch-4.png    1x,
                ./img/sale/small-wtch-4@2x.png 2x
              "
              src="./img/sale/small-wtch-4.png"
              alt="small-wtch-4"
              onclick="showImage(this)"
            />
          </li>
        </ul>
        <div class="sale-big-wtch-box">
          <img
            id="mainImage"
            class="sale-big-wtch-img zoom-in"
            srcset="./img/sale/big-wtch.png 1x, ./img/sale/big-wtch@2x.png 2x"
            src="./img/sale/big-wtch.png"
            alt="big-wtch"
          />
        </div>
      </div>
      <div class="sale-card-box">
        <h3 class="sale-card-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-card-tag">Product tag: 706587</p>
        <div class="sale-card-price-box">
          <p class="sale-card-price">€1500</p>
          <p class="sale-card-old-price">€3000</p>
        </div>

        <p class="sale-card-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-card-stat-list">
          <li class="sale-card-stat-item">Fused carbon fiber</li>
          <li class="sale-card-stat-item">Grade-5 Titanium</li>
          <li class="sale-card-stat-item">Athlete</li>
          <li class="sale-card-stat-item">Golfer</li>
          <li class="sale-card-stat-item">Commander</li>
          <li class="sale-card-stat-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
