/* Основні стилі */

.about-us {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 40px 20px;
  margin-bottom: 20px;
  width: 100%;
 
}



.watch-image {
    display: block;
    width: 100%;
    height: auto;
}
@media  screen and (min-width:375px) {
.about-us { width: 335px;}
}

.watch-img{
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

/* .watch-image {
 width:530px;
 height:532px;} */


.watch-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 12, 12, 0.2);
    z-index: 1;
}
.description-about-us {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-align: left;
 
  margin-bottom: 28px;
}

.watch-qualities {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.watch-margin {
  margin-bottom: 20px;
}

.open-link {
    padding: 15px 38px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
 max-width: 160px;
  max-height: 48px;
white-space: nowrap;
  border-radius: 16px;
  background-color: #3350e9;
  border: none;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  transition: background-color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.open-link:hover, 
.open-link:focus{
  background-color: #1f3cd4;
}





@media screen and (min-width: 768px) {

.watch-image {
    width:704px;
      height:512px;
  }

  .watch-img{
    border-radius: 50px;
  }
  
    .about-us {
    border-radius: 50px;
    width: 704px;
    height: 512px;
    margin-bottom: 40px;
    padding: 80px 60px;
  }

  .description-about-us {
    font-size: 48px;
    line-height: 92%;
    margin-left: 0px;
    margin-bottom: 40px;
  }

  .watch-qualities {
    font-size: 16px;
    line-height: 125%;
  }

  .open-btn {
    margin-top: 60px;
   
  }

  
}

@media screen and (min-width: 1280px) {
  .watch-image {
      width: 530px;
      height: 532px;
    }
  .order-flex {
    display: flex;
    gap: 40px;
  }

  .about-us {
    border-radius: 50px;
    margin-bottom: 40px;
    width: 580px;
    height: 532px;
    margin-bottom: 0px;
  }

  .open-btn {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  

}



