.advertisement {
    padding: 60px 28px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(../img/advertisement/adver-mob.jpg);
    background-color: #0c0c0c;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
     @media screen and (min-width: 768px) {
     margin-bottom: 80px;
    }

         @media screen and (min-width: 1280px) {
            
       margin-bottom: 100px;
         }
}



.advert{
    padding-left: 0;
    padding-right: 0;
}

.

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .advertisement {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url(../img/advertisement/adver-mob@2x.jpg);
    }
}

.advertisement {
   max-width: calc(100% - 56px);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advertisement-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 28px;
    text-align: left;
    max-width: 279px;
}

.advertisement-story {
    color: rgba(251, 251, 251, 0.5);

}


.advertisement-btn {
    font-family: "Gilroy", sans-serif;
    max-width: 160px;
    height: 48px;
    margin: 0 auto;
    padding: 15px 44px;
    background: transparent;
    border: none;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.advertisement-btn:hover,
.advertisement-btn:focus{

    color: #0c0c0c;
    background-color: #fbfbfb;

}

@media screen and (min-width: 375px){
    .advertisement{
  max-width: 335px;

    }

        .advertisement-title {
            max-width: 279px;
            min-height: 167px;
            
        }
}




@media screen and (min-width:768px) {
 
    .advertisement {

        padding: 80px 64px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url(../img/advertisement/adver-tablet.jpg);
        background-color: #0c0c0c;
/* 
        max-width: calc(100% - 64px); */
max-width: 704px;

    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .advertisement {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                url(../img/advertisement/adver-tablet@2x.jpg);
        }
    }

    .advertisement-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 0.9;
        letter-spacing: -0.02em;
        color: #fbfbfb;
       
    }

.advertisement-title{
    min-width: 576px;
    min-height: 185px;
}

}




@media screen and (min-width:1280px) {
.advertisement {
       
      padding: 80px 80px 83px 80px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url(../img/advertisement/adver-desk.png);
        background-color: #0c0c0c;
        /* max-width: calc(100% - 130px); */
        max-width: 1150px;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .advertisement {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                url(../img/advertisement/adver-desk@2x.jpg);
        }
    }

        .advert {
        display: flex;
        flex-wrap: nowrap;
        gap: 140px;
        padding-right: 0;
    }


    .advertisement-title {
        font-size: 48px;
        line-height: 0.9;
        max-width: 690px;
        min-height: 132px;
        margin-bottom: 0;
    }

    .advertisement-btn{
margin: 0;

    }


}


