body{
    background-color: #fbfbfb;
    font-family: "Gilroy", sans-serif;
    color: #0c0c0c;
}

.container{
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 768px){
    .container{
    max-width: 768px;
    padding: 0 32px;
    }

}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 65px;
    }

}