
 
.contact-us-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    max-height: 54px;
    margin-bottom: 28px;
    text-align: left;
} 
.contact-us {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
    text-align: left;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
    width: 100%;
   
}
.container-contact {
    padding: 48px 28px;

 
    border-radius: 50px;
    background: #f3f3f3;
   width: 100%;
    
}

form{
    box-sizing: border-box;
}

.modal-input
  { border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
width: 100%;
   background-color: transparent;
padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
   outline: transparent;
    display: block;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    
    color: #0c0c0c;
    box-sizing: border-box;
    margin-bottom: 18px;
    height: 42px;
   }

.modal-input:hover,
.modal-input:focus {
    border: 1px solid #3350e9;
 
}

textarea {
  
    width: 100%;
    box-sizing: border-box;

    border: 1px solid rgba(12, 12, 12, 0.15);
        border-radius: 12px;
        width: 100%;
        background-color: transparent;
        padding-left: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        outline: transparent;
     
font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #0c0c0c;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   height: 84px;
vertical-align:top;
}

.comment-modal-field{overflow: hidden;}

input::placeholder{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.23;
        color: #0c0c0c;
}

textarea::placeholder {
font-weight: 400;
    font-size: 14px;
    line-height: 1.23;
    color: #0c0c0c;

}

textarea:focus,
textarea:hover{
    border: 1px solid #3350e9;
}

.modal-button{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        font-weight: 500;
            font-size: 14px;
            line-height: 1.28571;
            text-align: center;
            color: #fbfbfb;
            background: #3350e9;
            border-radius: 16px;
                padding: 12px 50px;
              border: none;
               margin-top:28px; 
}


/* f */
.modal-button:hover,
.modal-button:focus{
background: #1f3cd4;
}

.image-contact {
    border-radius: 30px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
 

    .container-contact{
        padding: 50px 122px;
        border-radius: 50px;
    }

    .contact-us {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .contact-us-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
        max-width: 460px;
    }


    .modal-input{
        font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            color: #0c0c0c;
           height: 52px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-right: 16px;
    }

    .modal-button{
        border-radius: 16px;
     padding: 17px 63px;
margin-top: 32px;
            
    }

    textarea{
        height: 90px;
        padding-right: 16px;
        padding-top: 16px;
       
    }
    .image-contact {
        border-radius: 50px;
    }

      .cont{
        gap: 40px;
      }
    

                .contact-us-text {
                    margin-bottom: 32px;
                }
    }


    @media screen and (min-width: 1280px) {
       
    .container-contact{
        padding: 50px 60px;
    }
    
        .contact-us-text {
        font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: -0.02em;
            color: rgba(12, 12, 12, 0.7);
        }
    
        .image-contact {
            border-radius: 50px;
        }
    
        .modal-input {
            padding: 16px 18px;
            width: 460px;
            height: 52px;
        }
    
        .modal-text {
            padding: 16px 16px;
            width: 460px;
        }
    
        .modal-button {
            padding: 17px 63px;
        }
        
        .container-contact {
            max-width: 580px;
    
           
        }

.modal-input{
    padding-right: 18px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #0c0c0c;
}

textarea{
    padding-right: 18px;
}


    }
    
   




