.reviews {
}

.congtainer {
}

.reviews-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
}

.reviews-list{
}

.reviews-item{
}