ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

/* .container {
} */
.sale-container {
  padding-left: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  background-color: brown;
}

.title-sale {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.02em;

  line-height: 0.91;

  color: #0c0c0c;
}

/* =========================== */
.sale-content-box {
  display: flex;
  /* flex-direction: column; */
}
/* ============================ coMmon img cont */
.sale-all-wtch {
  display: flex;
}
/*                      ====================== */
.sale-min-wtch-list {
  display: flex;
  flex-direction: column;
}
.sale-min-wtch-item {
  display: flex;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  /* width: 132px;
   height: 132px; */
  background-color: #f3f3f3;
}
/* .sale-min-wtch-img {
} */

/*                ========================== ============ */
.sale-big-wtch-box {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 50px;
  /* width: 428px;
   height: 558px; */
  background-color: #f3f3f3;
}
/* ====================== card === */
.sale-card-box {
  padding: 60px;
}
.sale-stat-list {
  display: flex;
  flex-wrap: wrap;
}
.sale-stat-item {
  padding: 5px;
}

/* ====================================== mobile ============ */
/* and (min-width: 375px) */
@media screen and (max-width: 767px) {
  .sale-container {
    max-width: 375px;
    /* from 320 to 375 responsive cont.*/
    flex-wrap: wrap;
    gap: 5px;
  }
  /* = .sale-content-box > .sale-all-wtch + .sale-card-box = */
  .sale-content-box {
    flex-direction: column;

    .sale-all-wtch {
      flex-direction: column;
    }

    /*              =================== */

    .sale-min-wtch-list {
      width: 100%;
      height: 100%;

      flex-direction: row;
      /* flex-wrap: wrap; */
      gap: 5px;
      width: calc((100%-15px) - 4);
    }

    .sale-min-wtch-item {
      width: 100%;
      height: 100%;
    }
    .sale-min-wtch-img {
      width: 52px;
      height: 54px;
    }
    /*                 ===================== */
    .sale-big-wtch-box {
      width: 100%;
      height: 100%;
    }

    .sale-big-wtch-img {
      width: 100%;
      height: 100%;
    }
  }
  /*               =================== CARD */
  .sale-card-box {
    padding: 48px, 28px;
    border-radius: 50px;
  }
}

/* ======================================= tab ============== */

@media screen and (min-width: 768px) {
  .sale-container {
    background-color: antiquewhite;
    max-width: 768px;
  }
  /* = .sale-content-box > .sale-all-wtch + .sale-card-box = */
  .sale-content-box {
    flex-direction: column;
  }
}

/* ========================== desctop =========== */

@media screen and (min-width: 1284px) {
  .sale-container {
    max-width: 1150px;
    /* background-color: #322c2c; */
  }
  /* = .sale-content-box > .sale-all-wtch + .sale-card-box = */
  .sale-content-box {
    display: flex;
    flex-direction: row;
  }

  .sale-all-wtch {
    width: 580px;
    height: 558;
  }
  .sale-min-wtch-list {
    flex-direction: column;
  }
  .sale-min-wtch-item {
    width: 132px;
    height: 132px;
    padding: 16px, 18px;
    justify-content: center;
    align-items: center;
  }
  .sale-min-wtch-img {
    width: 96px;
    height: 100px;
  }

  .sale-big-wtch-box {
    width: 428;
    height: 558;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* ======================== */
  .sale-card-box {
    padding: 60px;
    border-radius: 50px;
    background-color: #3350e9;

    width: 530px;
    height: 558px;
  }
}
